.label {
width:120px;
float:left;
margin-top:10px;
}

input, select, textbox {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding:4px;
}

.input_border {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:3px;
display:table-cell;
}