RewriteEngine On
RewriteRule ^fyi\/([a-z0-9]{10})$ first_time.html?code=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} \.(jpg|png|gif|jpeg)$
RewriteRule .* /images/thumb.png [L]

Options -MultiViews FollowSymLinks
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d  
RewriteCond %{REQUEST_FILENAME}\.php -f  
RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTP_HOST} cityofalisoviejo.meocracy..com
RewriteCond %{REQUEST_URI} [includes|css|images|js]/(.*)\.(.*)
RewriteRule (.*) http://www.meocracy.com%{REQUEST_URI} [R=301,NC,L]

