.ui-bar-a, 
.ui-bar-a input, 
.ui-bar-a select, 
.ui-bar-a textarea, 
.ui-bar-a button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	font-family: 'Arimo', Helvetica, sans-serif;
}


.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	font-family: 'Arimo', Helvetica, sans-serif;
	text-decoration: none;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	font-family: 'Arimo', Helvetica, sans-serif;
	text-decoration: none;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	font-family: 'Arimo', Helvetica, sans-serif;
	text-decoration: none;
}

.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
	font-family: 'Arimo', Helvetica, sans-serif;
	text-decoration: none;
}

.ui-bar-e,
.ui-bar-e input,
.ui-bar-e select,
.ui-bar-e textarea,
.ui-bar-e button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-body-e,
.ui-body-e input,
.ui-body-e select,
.ui-body-e textarea,
.ui-body-e button {
	font-family: 'Arimo', Helvetica, sans-serif;
}

.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
	font-family: 'Arimo', Helvetica, sans-serif;
	text-decoration: none;
}

.ui-btn-active {
	font-family: 'Arimo', Helvetica, sans-serif;
}